name: Test-Project

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: java:8
    steps:
        - name: actions/checkout@v1
          with:
            java-version: '8'
        - name: Set up JDK 1.8
          uses: actions/setup-java@v1
          with:
            java-version: '1.8'
        - name: Build with Gradle
          run: ./gradlew build
        - name: Run tests with Gradle
          run: ./gradlew test
        - name: Upload Test Results
          uses: actions/upload-artifact@v2
          with:
            name: test-results